* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2rem, 62.5%);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color: #fff;
  display: grid;
  place-items: center;
  height: 100vh;
  place-content: center;
}

#app {
  display: grid;
  justify-items: center;
}

.flex {
  display: flex;
}

#timer {
  font-size: 9.6rem;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#controls {
  margin-top: 2rem;
  padding: 2.2rem 4rem;
  gap: 1.6rem;
}

button {
  background-color: transparent;
  border: none;
  color: #d2691e;
  cursor: pointer;
  font-size: 6.4rem;
}

button:hover {
  color: aliceblue;
}

p {
  font-size: 2rem;
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 5rem;
}

#musicControls {
  margin-top: 1.6rem;
  padding: 2.2rem 4rem;
  gap: 2rem;
}

#musicControls button {
  font-size: 4.8rem;
  background-color: aliceblue;
  color: #000851;
  border-radius: 25%;
  width: 10rem;
  height: 10rem;
}

#musicControls button:hover {
  background-color: #000851;
  color: aliceblue;
}

.secondary {
  color: aliceblue;
}

.secondary:hover {
  color: #d2691e;
}

footer p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 6rem;
  color: aliceblue;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* Timer Controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on-tree .ph-tree, 
.music-on-cloud .ph-cloud,
.music-on-storefront .ph-storefront,
.music-on-campfire .ph-campfire,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on-tree) .ph-tree-evergreen, 
html:not(.music-on-cloud) .ph-cloud-snow,
html:not(.music-on-storefront) .ph-confetti,
html:not(.music-on-campfire) .ph-fire-extinguisher {
  display: none;
}

.ph-tree-evergreen::before,
.ph-cloud-snow::before,
.ph-confetti::before,
.ph-fire-extinguisher::before {
  background-color: #000851;
  color: aliceblue;
}

